# ==================================
# SUPABASE PROJECT KEYS
# Diambil dari Dashboard Supabase -> Project Settings -> API
# ==================================

# URL publik untuk proyek Supabase Anda.
NEXT_PUBLIC_SUPABASE_URL="https://xxxxxxxxxxxxxxxxxxxx.supabase.co"

# Kunci publik (anon) yang aman untuk digunakan di sisi klien/browser.
NEXT_PUBLIC_SUPABASE_ANON_KEY="ey...xxx"


# ==================================
# META (WHATSAPP) BUSINESS API KEYS
# Diambil dari Meta for Developers Dashboard -> WhatsApp -> API Setup
# ==================================

# ID unik dari nomor telepon WhatsApp yang akan mengirim pesan.
# Dimasukkan ke Supabase Secrets -> Edge Function Secrets.
WA_PHONE_NUMBER_ID="658..."

# Token akses untuk otentikasi dengan Meta API.
# Dimasukkan ke Supabase Secrets -> Edge Function Secrets.
META_WA_TOKEN="EAAU..."